* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 200px;
}
.links {
    flex: 1;
    text-align: right;
}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after {
    width: 100%;
}
.links2 {
    flex: 1;
    text-align: center;
}
.links2 ul li {
    list-style: none;
    display: inline-block;
    text-decoration: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
} 
.links2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.links2 ul li:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text h1{
    font-size: 55px;
}
.text p{
    margin: 10px 0 40 px;
    font-size: 14px;
    color: white;
}
.WatchApps {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

} 
h1{
    font-size: 36px;
    font-weight: 600;
}
p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.Stream {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.platforms {
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.platforms:hover{
    box-shadow: 0 0 20px 0 rgba(4,9,30,0.7);
}
.genre {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.head {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/bg2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.genre2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.genre3 {
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.genre3:hover {
        box-shadow: 0 0 20px 0 rgba(252, 252, 255, 0.966);
}
.heading {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/bg3.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.headings {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/bg4.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;
}
/*--------------------------------About WatchIt-----------------------------------------*/
.sub-header {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),  url(Images/contact.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.sub-header h1{
    margin-top: 100px;
}
.form {
    padding-left: 25px, 25px,20px, 20px;
}
